div.xp-contentviewer code {
    text-align: left;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: Consolas, monaco, monospace;
}

.xp-contentviewer-tabs {
    display: table;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}

.xp-contentviewer-tabs a {
    display: table-cell;
    padding: 10px 12px;
    border-bottom: 4px solid transparent;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    color: #333333;
    text-decoration: none;
}

.xp-contentviewer-tabs a.selected {
    border-bottom-color: #4294de;
    color: #4294de;
}

div.xp-contentviewer code {
    padding-top: 0.5em;
}

div.xp-contentviewer code span.xpconview-string {
    color: #008000;
}

div.xp-contentviewer code span.xpconview-number {
    color: #0000FF;
}

div.xp-contentviewer code span.xpconview-boolean {
    color: #000080;
}

div.xp-contentviewer code span.xpconview-null {
    color: #20999D;
}

div.xp-contentviewer code span.xpconview-key {
    color: #660E7A;
}

div.xp-contentviewer code span.xpconview-id {
    color: #808000;
    cursor: help;
}

div.xp-contentviewer code span.xpconview-path {
    color: #D07a22;
}

div.xp-contentviewer code span.xpconview-datetime {
    color: #4A86E8;
}

div.xp-contentviewer div {
    position: relative;
}

.xp-contentviewer-copy {
    width: 24px;
    height: 24px;

    position: absolute;
    top: 2px;
    right: 10px;
    opacity: 0.2;
}

.xp-contentviewer-copy:hover {
    opacity: 1;
    cursor: pointer;
}

.xpcontentviewer-tooltip {
    display: none;
    position: absolute;
    width: 160px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    left: calc(50% - 80px);
    top: 50px;
    right: calc(50% - 80px);
    color: #ffffff;
    background-color: #4294de;
    border-radius: 5px;
    opacity: 0.9;
    z-index: 1000;
}